*.db
*.log
/build/
__pycache__/
._*
.idea/
*.pyc         # Ignora archivos .pyc sueltos
.coverage
.coveragerc
/htmlcov/
fix-authors.sh


# Entorno virtual
.venv/

# PyInstaller
build/
dist/
*.spec

# Archivos temporales
*.pyc


.venv/, app/.venv/


build/, dist/, htmlcov/

app/data/uploads/*.db y *.db
